.cart-cont{
    font-family: 'Cormorant', serif;
    background-color: #FEF2F5;
    padding: 150px 150px;
    width: 100vw;
    min-height: 1080px;
}

.cart-header{
    color: #B7884C;
    font-weight: 200;
    font-size: 48pt;
    margin-bottom: 1em;
}

.content-cont{
    display: flex;
    width: 100%;
}
.cart-prod-cont{
    width: 50%;
}
.cart-summary-cont{
    width: 50%;
    display: flex;
    justify-content: end;
}