.product-card-cont{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: 248px;
    height: 357.3px;
    text-align: center;
    margin: 0;
}
.pc-img-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 248px;
    height: 248px;
    border-radius: 8px;
    margin-bottom: 3.5em;
    overflow: hidden;
    transition: 600ms ease-in-out;
}
.pc-img-cont .fa-tag{
    position: absolute;
    top: 5px;
    right: 5px;
    color:rgb(255, 0, 0);
}
.pc-img-cont:hover{
    transform: scale(110%);
    transition: 600ms ease-in-out;
    box-shadow: 0px 17px 23px -10px rgba(0,0,0,.3);;
}
.pc-img{
    width: 248px;
    height: 248px;
}
.pc-text-cont{
    text-align: left;
    width: 248px;
}
.pc-price-cont{
    margin-top:1em;
    width: 248px;
    display: flex;
}
.pc-text-sale{
    color: rgb(255, 0, 0);
    margin-left: 1em;
}
.pc-disable{
    display: none !important;
}
.pc-link, .pc-link:visited, .pc-link:link{
    color: black;
}
strike{
    text-decoration-thickness: 3px;
    text-decoration-color:rgb(255, 0, 0);
}