.home-cont{
    min-height: calc(100vw / 1.777777777777778);
}
.home-cl-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vw / 1.777777777777778);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-overlay-button{
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    position: absolute;
    left: calc((100vw / 2) - 5.5em);
    bottom: 9em;
    width: 11em;
    height: 2.7em;
    border: 1px solid #c9aa85;
    border-radius: .8em;
    color: white;
    background-color: #B7884C ;
    cursor: pointer;
    box-shadow: 0px 17px 23px -10px rgba(0,0,0,.6);
    transition: 600ms ease-in-out;
}
.home-overlay-button:hover{
    transform: scale(1.06);
    transition: 600ms ease-in-out;
}
.home-overlay-button:active{
    transform: translateY(2px);
}
.home-overlay-button:focus{
    outline: none;
}
.featured-list{
    position: relative;
    max-width: 100vw;
    height: 629px;
    background-color: #FEF2F5;
    padding: 67.8px 124px ;
    
}
.fl-item-cont{
    display: flex;
    justify-content: space-between;
}
.text-svg{
    height: 2.9vw;
    margin: 0em 2em;
    opacity: .7;
    filter: blur(0px);
}
.beauty-svg{
    height: 2.9vw !important;
}
.featured-header{
    font-family: 'Cormorant', serif;
    font-size: 40pt;
    font-weight: 400;
    color: #B7884C;
    margin: 0;
    margin-bottom: 1.1em;
}
.cat-list{
    padding: 150px 124px ;
    width: 100vw;
    height: 966px;
    background-color: white;
}
.cat-display-cont{
    display: flex;
    justify-content: center;
}
.cat-card-cont{
    position: relative;
    width: 300px;
    height: 300px;
    min-width: 300px;
    min-height: 300px;
    border-radius: 8px;
    overflow: hidden;
    margin: 1rem;
}
.cat-card-cont:hover .cat-img{
    transform: scale(1.2);
    transition: 3s ease-in-out;
    -webkit-transform: scale(1.2);
    -webkit-transition: 3s ease-in-out;
}
.cat-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    transition: 2s ease-in-out;
    -webkit-transition: 2s ease-in-out;
}
.cat-title{
    font-family: 'Cormorant', serif;
    z-index: 1;
    color: white;
}
.cat-title-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
}
.cat-btn{
    cursor: pointer;
    width: 80px;
    font-family: 'Montserat', sans-serif;
    font-weight: 600;
    border: none;
    color: white;
    background-color: transparent;
    position: absolute;
    bottom: 40px;
    left: calc(150px - 40px);
    z-index: 2;
}
.cat-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .3;
    z-index: 1;
}
.lip-gloss-svg{
    transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    opacity: 0;
}
.beauty-svg{
    transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    opacity: 0;
}
.skin-care-svg{
    transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    opacity: 0;
}

.lip-gloss-svg.activate{
    opacity: .7;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transition: .8s 300ms ease-in-out;
    -webkit-transition: .8s 300ms ease-in-out;
}
.beauty-svg.activate{
    opacity: .7;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transition: .8s 600ms ease-in-out;
    -webkit-transition: .8s 600ms ease-in-out;
}
.skin-care-svg.activate{
    opacity: .7;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transition: .8s 900ms ease-in-out;
    -webkit-transition: .8s 900ms ease-in-out;
}

@media only screen and (max-width: 500px){
    .featured-list{
        position: relative;
        max-width: 100vw;
        height: fit-content;
        background-color: #FEF2F5;
        padding: 67.8px 8px ;
        text-align: center;
    }
    .fl-item-cont{
        display: block;
        text-align: center;
        margin: auto;
    }
    
    .cat-list{
        display: flex;
        justify-content: center;
        padding: 50px 8px ;
        height: fit-content;
    }
    .cat-display-cont{
        display: block;
        width: fit-content;
        height: fit-content;
    }
    .cat-card-cont{
        width: 150px;
        height: 150px;
        min-width: 150px;
        min-height: 150px;
    }
    .cat-title{
        font-size: 24px;
    }
    .cat-btn{
        left: calc(75px - 40px);
    }
    .home-overlay-button{
        font-size: 12pt;
        position: absolute;
        left: calc((100vw / 2) - 4em);
        bottom: 1em;
        width: 8em;
        height: 2.0em;
    }
    .home-cl-overlay{
        top: 90px;
    }
}