a{
    text-decoration: none;
}
.nav-link :visited{
    color:none;
}
.nav-link :link{
    color:none;
}
.nav-link{
    margin: 0em 1em;
    color: white;
}
.nav-cont{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 90px;
    display: flex;
    padding: 30px 100px;
    align-items: center;
    z-index: 10;
    transition: 600ms ease-in-out;
    -webkit-transition: 600ms ease-in-out;
}
.nav-cont.active{
    background-color: rgba(1, 1, 1, .3);
    transition: 600ms ease-in-out;
    -webkit-transition: 600ms ease-in-out;
}
.item-cont-left{
    height: 30px;
    width: calc((100vw - 20px) / 2);
}
.item-cont-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 30px;
    width: calc((100vw - 20px) / 2);
}
.gbk-logo{
    height: 30px;
}
.logo-cont{
    position: relative;
    height: 30px;
}
.nav-link-list-cont{
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 10.5pt;
}
.fa-shopping-bag{
    color: white;
    margin-left: .75em;
}
.dark{
    color: #1b1b1b !important;
}
@media only screen and (max-width: 500px){
    .nav-cont{
        position: relative;
    }
}